*{
    margin:0;
    padding:0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F3EEE7; 
}

.top-bar {
    background-color: #262626;
    width: 100vw;
    height: 50px;
}

.Hero {
    background-image: url("../images/Beep.png");
    width: 100%;
    height: 500px;
    position:relative;
    background-size:cover;
    
    
}

.Name{
text-decoration:none;
color: white;

}




.JobTitle{
font-size: 24px;
    color: #FFFFFF;
    font-family: 'Raleway';
}



.navlinks {
    font-size: 22px;
    color: #FFFFFF;
    margin: 0 30px;
    padding-top: 15px;
    font-family: 'Raleway';
    list-style: none;
    padding: 2px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo {
    font-family: 'Tenor Sans';
    display: block;
    text-decoration:  none;
    font-size: 27px;
    margin: 0 50px;
    padding-top: 15px;
}



.navlinks li {
    padding: 10px 15px;
}

.navlinks a {
    text-decoration: none;
    color: #FFFFFF; 
}

.project-image-wrapper {
    position: relative;
    display: block; 
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.project-image-bg {
    display: inline-block;
    width: 50%;
    position: relative;
}
.project-image-bg::before {

    display: flex;
    padding-top: 66.66%;
    background-image: url("../images/plant\ pals.png");
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 40px;
    left: 10px;
    right: -100px;
    bottom: 0;
}

.project-image {
    width: 38%; 
   
}



.AboutHeader{
text-align: center;
font-family: 'Raleway';
}

.Skills{
    text-align: center;
    }


.Work {
font-size: 32px;
font-family: 'Raleway';
font-weight: 500;
display:inline-block;



}

.number{
    display:inline-block;
    background: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #a69b8d;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: row;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 23;
    font-family: 'Raleway';
   
}


.secondcontainer{
    padding-right:300px;
}


.ProjectContainer {
    display: flex;
    flex-direction:row;
    }
    
    .PlantPalBackground{
    background-image: url(../images/plant\ pals.png);
    display: flex;
    
    }
    
    
    .secondBackground{
    background-image: url("../images/jake-gard-CetB-bTDBtY-unsplash.jpg");
    height:auto;
    display: flex;
    
    }
    
    
    
    .Cellphone{
        justify-content: center;
    
    }
    
    
    
    
    .SecondImage{
    
    
    
    }





.AboutHeader {
    font-size: 32px;
    font-family: 'Raleway';
    font-weight: 500;
}


.Skills {
    font-size: 32px;
    font-family: 'Raleway';
    font-weight: 500;

}





.casestudy{
    font-size: 20px;
    font-family: 'Montserrat';
    margin-top: 100px;
   
}




.Location {
    justify-content: center;
}



.Wrapper {
display: flex;
flex-direction:row;
justify-content: space-between;

}

.Quote {
    color:#FFFFFF;
    font-size: 29px;
    font-family: 'Montserrat';
    font-style: italic;
    text-align: left;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%);
    width: fit-content;


}


button {
padding:1rem;
margin: 0.5rem;
border-color: #A69B8D;
border-radius: 35px;
background-color: rgba(255, 255, 255, 0.8);
}

.WorkParagraph {
font-size: 22px;
font-family: "Montserrat";

}


.AboutParagraph {
    font-size: 22px;
    font-family: "Montserrat";
    letter-spacing: 0.04em;
    
    }


    .beepboop {
        font-size: 22px;
        font-family: "Montserrat";
        letter-spacing: 0.04em;
        margin-top: 50px;
        
        }



.secondline {
        font-size: 22px;
        font-family: "Montserrat";
        letter-spacing: 0.04em;

        }
    



.Tools {
    font-size: 22px;
    font-family: "Montserrat";
    font-weight: 600;
    letter-spacing: 0.04em;

}

.ToolsBio {
    font-size: 22px;
    font-family: "Montserrat";
    letter-spacing: 0.04em;

}

.Design {
    font-size: 22px;
    font-family: "Montserrat";
    font-weight: 600;
    letter-spacing: 0.04em;

}

.DesignBio {
    font-size: 22px;
    font-family: "Montserrat";
    letter-spacing: 0.04em;

}

.Organizational {
    font-size: 22px;
    font-family: "Montserrat";
    font-weight: 600;
    letter-spacing: 0.04em;

}

.OrganizationalBio {
    font-size: 22px;
    font-family: "Montserrat";
    letter-spacing: 0.04em;
 
}

.LetsConnect {
    font-size: 30px;
    font-family: 'Raleway';
    font-weight: 500; 
    padding-bottom: 2px;

}

.EmailInfo {
    font-family: "Montserrat";
    font-size: 25px;
    letter-spacing: 0.05em;
    font-weight: 650;
    padding-top: 16px;
  
}

.phonenumber {
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 650;
    padding-top: 16px;
    padding-bottom: 2px;
   
}


.FooterName {
    font-size: 22px;
    font-family: Montserrat;
    color: #262626;
    overflow-wrap: break-word;


}



.bottombox {
    display: flex;
    justify-content: space-between;
    
    }








.CopyrightInfo{
flex-direction: row;
width: 300px;
padding-top: 30px;
padding-left: 20px;

}


.locationstuff {
    flex-direction: row;
    width: 300px;
    padding-top: 30px;
  

}





.icons{
    flex-direction: row;
    padding-right: 20px;
}


.copyright{
    height: 28px;
    float: left;
    padding-right: 5px;
    margin-left: 30px;
   
}

.global{
    height: 30px;
    float: left;

}



.Location {
font-size: 22px;
font-family: Montserrat;
color: #262626;

}






.Container {
   
margin: 0 50px;


}




.line-div {
   
    position: relative;
    border-top: 2px solid #57514a;
    box-sizing: border-box;
    height: 2px;
    padding-top: 10px;
    margin-left: 50px;
    margin-right: 50px;

    }



.InfoContainer {
    text-align: end;
    padding-right: 50px;

}   






.gridThree {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 49px 167px;

}

.aboutGrid {
    display: grid;
    grid-gap: 20px;
    margin: 50px 7rem;
   
    
}


.links{
    height: 60px;
    margin: 20px;
   
}





@media screen and (max-width: 600px) {

.project-image-bg {
display:none;

}

.project-image{
width: 100%;

}

.project-image-wrapper{
margin-top: 0;

}

.aboutGrid {
grid-template: 1fr;

}


.AboutHeader {
font-size: 24px;

}

.Skills {
font-size: 24px;

}


.Work {
font-size 24px;


}

.AboutParagraph{
font-size: 24px;

}


.Tools {
font-size: 18px;

}

.ToolsBio{
font-size: 18px;
}


.Design{
font-size: 18px;

}

.DesignBio{
font-size: 18px;

}

.Organizational{
font-size: 18px;

}


.OrganizationalBio {
font-size: 18px;

}


.LetsConnect {
font-size: 20px;

}



.EmailInfo {
font-size: 16px;

}


.phonenumber{
font-size: 16px;


}



.FooterName{
font-size:18px;
}


.WorkParagraph{
font-size: 18px;

}


.locationstuff {
font-size:18px;

}


.Location {
font-size: 18px;
}


.WorkParagraph {
font-size: 18px;
}

.LineOne {
font-size:10px;
}
  
.LineTwo{
font-size: 18px;
    
}

.LocationStuff {
font-size:18px;

}


.LineOne {
font-size:10px;

}

.LineTwo{
font-size: 18px;

}

.Location{
    font-size: 18px;
}


.Container {
    margin: 0 20px;
}


.gridThree{
grid-template-columns: 1fr;
}

}
